<div class="login-background">
    <img class="company-logo" src="../../assets/logo.png"/>

    <div class="card-container">
        <div class="card">
            <input class="input" type="email" placeholder="yourname@example.com" id="email">
            <input class="input" type="password" placeholder="Password" id="password">
            <button class="submit-button">Sign in</button>
        </div>
    </div>

    <span>
        <a class="password-link">Forgot your password?</a>
    </span>
</div>
